extends layout

block content
    #contentWrapper
        #content
            #header
                #header-column
                    a(href="/")
                        img(src="/images/logo.png")
                #header-column
                    a#button(href="/r/#{title}") 
                        i(class="fa fa-chevron-left" aria-hidden="true")
                        span &nbsp;&nbsp;&nbsp;&nbsp;Back
            h1 #{title}
            table(id="list-table")
                tr
                    th
                        i(class="fa fa-calendar" aria-hidden="true")
                        span  / 
                        i(class="fa fa-clock-o" aria-hidden="true")
                    th
                        i(class="fa fa-bolt" aria-hidden="true")
                    th
                        i(class="fa fa-comment-o" aria-hidden="true")
                    th
                        i(class="fa fa-user-circle-o" aria-hidden="true")
                each l, i in logs
                  tr 
                      td #{l.date}
                      td #{l.action}
                      td #{l.message}
                      td #{l.user}
    #footer
        span &copy; Copyright 2017 Team 2056 
